
      img {
        border-radius: 50%;
      }
  
      body {
        font-family: Arial, Helvetica, san-serif;
        background-color: rgb(182, 182, 182);
      }
  
      .nav {
        overflow: hidden;
        position: fixed; 
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgb(158, 158, 158);
      }
  
      .nav a {
        float: left;
        padding: 14px 16px;
        text-align: center;
        font-size: 17px;
        color: black;
        text-decoration: none;
      }
  
      .footeritems {
        padding: 10px;
        font-size: 20px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
  
      .nav a:hover {
        background-color: rgb(66, 66, 66);
        color: white;
      }
  
      .footer {
        position: fixed;
        text-align: center;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(66, 66, 66);
      }

      .table td {
        padding: 20px;
      }